body {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .container {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #baabab;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #444544;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5b5e5c;
  }
  .options {
    margin-top: 10px;
    text-align: center;
  }
  
  .options a {
    color: #555;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s ease;
  }
  
  .options a:hover {
    color: #000;
  }